<div class="resource flex-group-center">
  <label for="system.magic.value" class="resource-label">Magic Points</label>
  <div class="resource-content flexrow flex-center flex-between">
  <input type="text" name="system.magic.value" value="{{system.magic.value}}" data-dtype="Number" {{disabled is_not_gm}}/>
  </div>
</div>

<div class="resource flex-group-center">
  <label for="system.energy.value" class="resource-label">Energy</label>
  <div class="resource-content flexrow flex-center flex-between">
  <input type="text" name="system.energy.value" value="{{system.energy.value}}" data-dtype="Number" />
  </div>
</div>

