<h3>Monster Pet</h3>

<div class="resources">
  <div class="resource flex-group-left">
    <section class="grid grid-2col" style="width: 400px;">
      <div class="flex-col pr-0 flex-s-1">
        <label>Health Die</label>
        {{> "systems/earthland/templates/partials/dice/select.html"
          dice=system.health_die.value
          edit=is_gm
          selectName='system.health_die'
        }}
      </div>
      <div class="flex-col pr-0 flex-s-1">
        <label for="system.armor_class.value" class="resource-label">Armor Class</label>
        {{> "systems/earthland/templates/partials/dice/select.html"
          dice=system.armor_class.value
          edit=is_gm
          selectName='system.armor_class'
        }}
      </div><button title="Add to Dice-Pool" class="armor_class rollable small-button" data-rolltype="actor" data-roll="{{formulaFromObject system.armor_class.value}}" data-label="Armor Class" data-kind="Attribute"><i class="fas fa-dice-d20"></i></button>
    </section>
  </div>
</div>

<div class="resources grid grid-3col">
  <div class="resource flex-group-center">
    <label for="system.resistances" class="resource-label">Reistances</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.resistances" value="{{system.resistances}}" data-dtype="String" {{disabled is_not_gm}}/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.immunities" class="resource-label">Immunities</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.immunities" value="{{system.immunities}}" data-dtype="String" {{disabled is_not_gm}}/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.weaknesses" class="resource-label">Weaknesses</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.weaknesses" value="{{system.weaknesses}}" data-dtype="String" {{disabled is_not_gm}}/>
    </div>
  </div>
</div>
