<h2>Humanoid Boss</h2>
<div class="resources grid grid-3col">
  {{!-- "flex-group-center" is also defined in the _grid.scss file
  and it will add a small amount of padding, a border, and will
  center all of its child elements content and text. --}}
  <div class="resource flex-group-center">
    <label for="system.health.value" class="resource-label">Hit Points</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.magic.value" class="resource-label">Magic Points</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.magic.value" value="{{system.magic.value}}" data-dtype="Number"/>
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.energy.value" class="resource-label">Energy</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.energy.value" value="{{system.energy.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.energy.max" value="{{system.energy.max}}" data-dtype="Number"/>
    </div>
  </div>
</div>
