<div class="trait-group">
  <h3>Motivations and Goals</h3>

  <div class="trait-group">
    <div class="resource flex-group-center">
      <label for="system.motivations" class="resource-label">Motivations</label>
      <div class="resource-content flexrow flex-center flex-between">
      <textarea class="input-cpt" name="system.motivations">{{system.motivations}}</textarea>
      </div>
    </div>
    <div class="resource flex-group-center">
      <label for="system.goals" class="resource-label">Goals</label>
      <div class="resource-content flexrow flex-center flex-between">
      <textarea class="input-cpt" name="system.goals">{{system.goals}}</textarea>
      </div>
    </div>
  </div>
</div>
