{{!-- Sheet Body --}}
<section class="sheet-body">
  <div class="distinctions">
    <h3>Distinctions</h3>
    <div class="distinction flexrow flex-group-center">
      {{> "systems/earthland/templates/actor/parts/actor-distinctions.html"}}
    </div>
    <br/>
    <hr/>
    <br/>
    <h3>Specialties</h3>
    <div class="specialty flexrow flex-group-center">
      {{> "systems/earthland/templates/actor/parts/actor-specialties.html"}}
    </div>
    <br/>
    <hr/>
    <br/>
    <h3>Complications</h3>
    <div class="complication flexrow flex-group-center">
      {{> "systems/earthland/templates/actor/parts/actor-complications.html"}}
    </div>
  </div>
</section>
