<form class="{{cssClass}} {{actor.type}} earthland-character flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources">
        <div class="personality flexrow flex-group-center">
          <label for="system.kind" class="resource-label">Type</label>
          <select class='tiny-input' name="system.kind" value="{{system.kind}}" data-dtype="String">
            {{#each npc_kind_options }}
            <option value="{{value}}" {{#selected}} selected="selected"{{/selected}}>{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      {{#if is_mob}}
        {{> "systems/earthland/templates/actor/parts/actor-header-monster-mob.html"}}
      {{/if}}

      {{#if is_minion}}
        {{> "systems/earthland/templates/actor/parts/actor-header-monster-minion.html"}}
      {{/if}}

      {{#if is_elite}}
        {{> "systems/earthland/templates/actor/parts/actor-header-monster-elite.html"}}
      {{/if}}

      {{#if is_boss}}
        {{> "systems/earthland/templates/actor/parts/actor-header-monster-boss.html"}}
      {{/if}}

    </div>
  </header>
  <section class="sheet-body">
      {{#if is_mob}}
        {{> "systems/earthland/templates/actor/parts/actor-body-monster-mob.html"}}
      {{/if}}

      {{#if is_minion}}
        {{> "systems/earthland/templates/actor/parts/actor-body-monster-minion.html"}}
      {{/if}}

      {{#if is_elite}}
        {{> "systems/earthland/templates/actor/parts/actor-body-monster-elite.html"}}
      {{/if}}

      {{#if is_boss}}
        {{> "systems/earthland/templates/actor/parts/actor-body-monster-boss.html"}}
      {{/if}}

  </section>
</form>

