<div class="physical-item">
  <div class="resource">
    <label class="resource-label">Quantity</label>
    <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label class="resource-label">Rarity</label>
    <input type="text" name="system.rarity" value="{{system.rarity}}" data-dtype="String"/>
  </div>

  <div class="resource">
    <label class="resource-label">Durability</label>
    <input type="text" name="system.durability" value="{{system.durability}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label class="resource-label">Weight</label>
    <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label class="resource-label">Value</label>
    <input type="text" name="system.value" value="{{system.value}}" data-dtype="Number"/>
  </div>
</div>
