<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource">
        <label class="resource-label">Kind</label>
        <input type="text" name="system.kind" value="{{system.kind}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label class="resource-label">Damage Type</label>
        <input type="text" name="system.damage_type" value="{{system.damage_type}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label class="resource-label">Range</label>
        <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label class="resource-label">MP Cost</label>
        <input type="text" name="system.mp_cost" value="{{system.mp_cost}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Energy Cost</label>
        <input type="text" name="system.energy_cost" value="{{system.energy_cost}}" data-dtype="Number"/>
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/rollable.html"}}
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/magic.html"}}
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/physical-item.html"}}
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/equipment.html"}}
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/wondrous.html"}}
      </div>
    </div>

    {{!-- Description Tab --}}
    {{> "systems/earthland/templates/item/parts/base.html"}}

  </section>

</form>
