<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource">
        <label class="resource-label">Current Charges</label>
        <input type="text" name="system.current_charges" value="{{system.current_charges}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Max Charges</label>
        <input type="text" name="system.max_charges" value="{{system.max_charges}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Charge Cost</label>
        <input type="text" name="system.charge_cost" value="{{system.charge_cost}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Destroyed when Empty?</label>
        <input class="input-checkbox-cpt" name="system.destroyed_when_empty" type="checkbox" {{checked system.destroyed_when_empty}}>
      </div>

      <div class="resource">
        <label class="resource-label">MP Cost</label>
        <input type="text" name="system.mp_cost" value="{{system.mp_cost}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Energy Cost</label>
        <input type="text" name="system.energy_cost" value="{{system.energy_cost}}" data-dtype="Number"/>
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/physical-item.html"}}
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/rollable.html"}}
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/magic.html"}}
      </div>


      <div>
        {{> "systems/earthland/templates/item/parts/equipment.html"}}
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/wondrous.html"}}
      </div>
    </div>

    {{!-- Description Tab --}}
    {{> "systems/earthland/templates/item/parts/base.html"}}

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/earthland/templates/item/parts/active-effects.html"}}
    </div>
  </section>
</form>
