<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource">
        <label class="resource-label">Spell Level</label>
        <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Spell MP Cost</label>
        <input type="text" name="system.mp_cost" value="{{system.mp_cost}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Spell Energy Cost</label>
        <input type="text" name="system.energy_cost" value="{{system.energy_cost}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Requirements</label>
        <input type="text" name="system.requirements" value="{{system.requirements}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label class="resource-label">School</label>
        <input type="text" name="system.school" value="{{system.school}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label class="resource-label">Range</label>
        <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label class="resource-label">Duration</label>
        <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String"/>
      </div>

      <div class="resource">
        <label class="resource-label">Shape</label>
        <input type="text" name="system.shape" value="{{system.shape}}" data-dtype="String"/>
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/magic.html"}}
      </div>

      <div>
        {{> "systems/earthland/templates/item/parts/rollable.html"}}
      </div>

    </div>

    {{!-- Description Tab --}}
    {{> "systems/earthland/templates/item/parts/base.html"}}
  </section>
</form>
